* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 22px;
}

.container-cell {
  width: 75px;
  height: 75px;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button {
    max-width: 200px;
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 22px;
    border-radius: 12px;
    background-color: transparent;
    cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  max-width: 225px;
  margin: auto;
  box-shadow: 0 0 0 2px;
  /* -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); */
}
