* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container-cell {
  max-width: 75px;
  height: 75px;
  border: 2px solid #000;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  max-width: 225px;
  margin: auto;
  box-shadow: 0 0 0 2px;
  /* -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); */
}
